@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Koulen', cursive;
}

.class1
{
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(/images/1292351.png);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text1
{
    position: absolute;
    top: 70%;
    
    color: white;
    height: fit-content;
    width: fit-content;
    background-color: black;
    padding: 1% 5%;
    font-size: 3em;

}

.class2
{
    position: relative;
    background-attachment: fixed;
    background-image: url(/images/1258015.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
    background-position: center;

    display: flex;
    flex-direction: column;
    /* gap: 20%; */
}

.text2a 
{
    font-size: 2em;
    /* position: absolute; */
    color: white;
    background-color: black;
    width: 100%;
}

.text2b 
{
    color: white;
    /* position: absolute; */
    background-color: rgb(255, 0, 0);
    height: fit-content;
    width: fit-content;
    font-size: 3em;
    padding: 0px 10px;
    align-self: center;
    margin: 15% auto;
}

.text2c
{
    /* position: absolute;
    bottom: 0; */
    font-size: 2em;
    /* position: absolute; */
    color: white;
    background-color: black;
    width: 100%;
}

.class3
{
    position: relative;
    background-attachment: fixed;
    background-image: url(/images/1292402.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
    background-position: center;

    display: flex;
    flex-direction: column;
    /* gap: 20%; */
}

.text3a 
{
    visibility: hidden;
    font-size: 2em;
    /* position: absolute; */
    color: white;
    background-color: black;
    width: 100%;
}

.text3b 
{
    color: white;
    /* position: absolute; */
    background-color: rgb(255, 0, 0);
    height: fit-content;
    width: fit-content;
    font-size: 3em;
    padding: 0px 10px;
    align-self: center;
    margin: 15% auto;
}

.text3c
{
    /* position: absolute;
    bottom: 0; */
    font-size: 2em;
    /* position: absolute; */
    color: white;
    background-color: black;
    width: 100%;
}

/* RESPONSIVENESS TAB */

@media only screen and (max-width: 800px)
{
    .text2a , .text2c , .text3c
    {
        font-size: 1.5em;
    }

    .text2b , .text3b
    {
        margin: 50% auto;
    }
}

/* DONE */